--index-url https://wheels.developerfirst.ibm.com/ppc64le/linux/+simple/

pyarrow==22.0.0
duckdb==1.4.3
milvus-lite==2.4.12
numpy==2.4.2
pandas==2.3.3
pyyaml==6.0.3
psutil==7.2.2
MarkupSafe==3.0.3
httptools==0.7.1
uvloop==0.22.1
google_crc32c==1.8.0
ujson==5.11.0
grpcio==1.62.3
snowflake_connector_python==4.3.0
librt==0.8.1
